/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  body {
      display: grid;
      grid-template-rows: auto 1fr auto;
  }

  /* HEADER */
  header {
      justify-self: center;
      font-size: 30px;
  }

  /* FOOTER */
  footer {
      justify-self: center;
  }

  /* MAIN CONTENT */
  #main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  #main-content > div {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    min-width: 550px;
    min-height: 550px;
    width: 65%;
    height: 75%;
    background-color: rgba(0, 183, 255, 0.589);
    outline: 5px solid black;
  }

  #player > div, #computer > div {
    background: rgb(155, 147, 147)
  }

  #main-content > div > div {
    border: 1px solid white;
  }  

  #main-content > div:last-child > div:hover {
    background:rgb(52, 157, 206);
    cursor: pointer;
  }
  
  #start-menu {
    display: grid;
    position: absolute;
    min-width: 40%;
    height: 75%;
    background-color: aqua;
    justify-self: end;
    align-self: center;
    margin-right: 100px;
    margin-top: 100px;
    grid-template-rows: repeat(5, 0.1fr);
    align-content: center;
    justify-content: center;
    visibility: hidden;
  }

  #start-menu > div {
    display: grid;
    border: 1px solid black;
    background-color: green;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
  }

  #start-menu > div > div {
    border: 1px solid white;
    width: 50px;
    height: 50px;
  }

  #player > .player--over {
    border: 1px dotted yellow;
    background: blue;
  }

  #player > .player--dropped {
    background: green;
  }

  #computer > .cell--hit {
    background-color: red;
  }

  #computer > .cell--miss {
    background:rgba(52, 157, 206, 0);
  }

  #player > .cell--hit {
    background-color: red;
  }

  #player > .cell--miss {
    background:rgba(52, 157, 206, 0);
  }