/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  body {
      display: grid;
      grid-template-rows: auto 1fr auto;
  }

  /* HEADER */
  header {
      justify-self: center;
      font-size: 30px;
  }

  /* FOOTER */
  footer {
      justify-self: center;
  }

  /* MAIN CONTENT */
  #main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  #main-content > div {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    min-width: 550px;
    min-height: 550px;
    width: 65%;
    height: 75%;
    background-color: rgb(4, 0, 255);
    outline: 5px solid black;
  }

  #main-content > div > div {
    border: 1px solid white;
  }  

  #main-content > div:last-child > div:hover {
    background:rgb(52, 157, 206);
    cursor: pointer;
  }
  